th, td{
    font-size: 1.5rem;
    padding: 2rem;
    font-weight: bold;
    width: 120px;
    color: white;
}

th{
    background-color: black;
}

.webtech{
    background-color: red;
}

.ITO{
    background-color: pink;
}

.ITE{
    background-color: purple;
}

.db{
    background-color: blue;
}

h1{
    text-align: center;
    font-size: 4rem;
}