button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #333;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: lightskyblue;
    width: 15rem;
    height: 5rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 1rem;
    margin-left: 1rem;
}

h1{
    font-size: 5rem;
    font-weight: bold;
    margin-left: 1rem;
}

#knop1:hover{
    box-shadow: 0.5rem 0.5rem 0.5rem grey;
}

#knop2:active{
    transform: translateY(0.5rem);
    background-color: rgb(74, 74, 226);
}

#knop3:focus{
    outline-color: blue;
    outline-style: solid;
    outline-width: 0.5rem;
}