td, th{
    font-size:  2rem;
    padding: 2rem;
}

th{
    background-color: black;
    color: white;
}

tr:nth-child(odd){
    background-color: lightgrey;
}

tr:nth-child(even){
    background-color: rgb(102, 102, 102);
}